.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.title {
    font-size: 2rem;
    margin-bottom: 50px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 8px;
}

.familyContainer {
    display: flex;
    justify-content: flex-start;
    gap: 2rem;
    overflow-x: auto;
    width: 100%;
    padding: 20px 0;
    scroll-snap-type: x mandatory;
}

.accountItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fafafa;
    padding: 20px 0px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
    width: 150px;
    scroll-snap-align: start;
}

.accountItem:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.accountItem img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    margin-bottom: 10px;
}

.accountItem p {
    font-size: 1rem;
    font-weight: 600;
    color: #34495e;
    margin: 0;
    text-align: center;
}

@media (max-width: 1300px) {
    .familyContainer {
        flex-wrap: wrap;
        justify-content: center;
    }
}
