.container {
    position: fixed;
    top: 60px;
    right: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    z-index: 1000;
}

.guide {
    font-size: 14px;
    color: #ffffff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    margin-bottom: 0px;
}

.speechButton {
    position: static;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    box-shadow: 0 0px 40px rgba(255, 255, 255, 0.5);
    cursor: pointer;
    z-index: 3;
    fill: #ffffff;
    border: 2px solid #ffffff;
    transition: transform 0.3s ease;
    animation: pulse 1.5s infinite;
    background-color: #284e3a;
}

.speechButton:hover svg path {
    fill: #284e3a;
}
.listening {
    background-color: #f1f1f1;
    border: 1px solid #284e3a;
    animation: none;
}

.listening svg path {
    fill: #284e3a;
}


@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}