.speechButton {
    position: fixed;
    bottom: 20px;
    right: 50px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    z-index: 3;
    fill: #f1f1f1;
}

.speechButton svg {
    fill: #f1f1f1;
}

.speechButton:hover svg path {
    fill: #2E7D32;
}