.speechButton {
    position: fixed;
    bottom: 20px;
    right: 50px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    z-index: 3;
    fill: #f1f1f1;
}

.speechButton svg {
    fill: #f1f1f1;
}

.speechButton:hover svg path {
    fill: #2E7D32;
}

.listening {
    background-color: #f1f1f1;
    border: 1px solid #2E7D32;
    animation: pulse 1.5s infinite;
}

.listening svg path {
    fill: #2E7D32;
}


@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}