.canvasContainer {
    width: 100vw; /* 화면의 전체 너비 */
    height: 100vh; /* 화면의 전체 높이 */
    overflow: hidden; /* 스크롤 숨기기 */
}

.canvas-section {
    display: flex; /* 선택 사항: 내부 요소 정렬 */
    justify-content: center; /* 선택 사항: 수평 중앙 정렬 */
    align-items: center; /* 선택 사항: 수직 중앙 정렬 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 그림자 추가 */
}

.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: #333333;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.bannerSection {
    display: flex;
    background-color: #2E7D32;
    height: 60px;
    align-items: center;
}

.bannerButton {
    background-color: transparent;
    color: #ffffff;
    border: 2px solid #ffffff;
    padding: 6px 16px;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    white-space: nowrap;
    font-size: 14px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin: 0 10px;
}

.bannerButton:hover {
    background-color: #ffffff;
    border-color: #ffffff;
    color: #333333;
}

.toolButton button {
    border-radius: 20px;
    margin: 0px 8px;
    border: 1px solid #e0e0e0;
    padding: 8px 15px;
    cursor: pointer;
    transition: all 0.2s ease;
    white-space: nowrap;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.toolButton button:active {
    background-color: #424242;
    color: white;
    border-color: #424242;
}

.colorPanel {
    background-color: white;
    border-radius: 50px;
    padding: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid #2E7D32;
    width: 50px;
    position: relative;
}

.notification {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(76, 175, 80, 0.3);
    z-index: 1000;
    animation: fadeInOut 3s ease-in-out;
    opacity: 0;
    font-weight: 500;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
