.inputWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
    box-sizing: border-box;
    position: sticky;
    bottom: 0;
    background-color: white;
    padding: 15px 0px;
    border-top: 1px solid #efefef;
}

.inputWrapper input {
    width: 100%;
    padding: 8px 12px;
    border: 1px solid #e0e0e0;
    border-radius: 20px;
    font-size: 14px;
}

.commentButton {
    background-color: #68a85c;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 8px 16px;
    font-size: 12px;
    white-space: nowrap;
}

/* 반응형 디자인 */
@media (max-width: 768px) {
    .inputWrapper {
        padding: 8px;
        align-items: center;
    }

    .input {
        height: 36px;
        line-height: 36px;
        font-size: 13px;
    }

    .commentButton {
        height: 36px;
        line-height: 36px;
        font-size: 13px;
    }
}