@import url('https://fonts.googleapis.com/css2?family=Gugi&family=Moirai+One&family=Noto+Sans+KR:wght@100..900&display=swap');

#root {
    background: white;
    font-family: "Noto Sans KR", serif;
    color:  #424242;
    width: 100%;
    height: 100vh;
}

.header {
    height: 60px; 
}

.main-content {
    overflow: auto;
    justify-content: center;
    height: 100%;
}

.footer {
    height: 50px; 
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-content.no-scroll {
    overflow-y: hidden;
    display: flex;
    justify-content: center;
}