.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    width: 100%;
    height: 100vh;
    background: linear-gradient(90deg, #022216, #1a3b2a, #284e3a, #1a3b2a, #022216); /* 어두운 녹색 그라디언트 적용 */
    color: #fff;
}

.title {
    font-family: 'Song Myung', serif;
    font-size: 4rem;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.6);
    font-weight: 700;
    color: #a8d5ba;
    letter-spacing: 5px;
}

.carouselContainer {
    height: 100%;
    display: flex;
    justify-content:end;
    align-items: center;
    padding: 0 30px;
}

.explaination {
    font-size: 1.8rem;
    color: #a8d5ba;
    animation: float 2s ease-in-out infinite;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 0px 80px;
    border-radius: 50px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}